*{
  box-sizing: border-box;
}

header{
  background-color: rgb(21, 151, 145);
  color: white;
  padding:20px;
  width:65%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
}
body{
    background-color: white;
  color: rgba(151, 21, 134, 0.555);
  text-align: center;
  font-family: 'Karla', sans-serif;
  border: 2px solid rgba(151, 21, 134, 0.555);
}
p{
  color: rgba(151, 21, 134, 0.555);
  font-size: 20px;
}
button{
  background-color: rgb(12, 167, 159);
  color: white;
  border-radius: 4x;
  padding: 12px;
  font-family: 'Karla', sans-serif;
  font-size: 15px;

}

input{
  border-radius: 4px;
  padding: 12px;
}

h1 h2{
  font-family: 'Oswald', sans-serif;
}

.js-search-results{
 margin-left: auto;
 margin-right: auto;
  border: 1px lightseagreen solid;
  width:65%;
  background-color:#FFFFFC;
  color: lightseagreen
}

.pics{
  border: 1px solid;
}

a:hover{
color: orange;
}

a{
  color: mediumvioletred;
}

.label{
  display: none;
}
